{{ define "page-title"}}
  {{ partial "page-title.html" .}}
{{ end }}

{{ define "main" }}
  <div class="container industria-page">
    <div class="row">
      <div class="industria-page-imagen">
        <!-- <img src="{{ $.Site.Params.cloudinary_url }}w_500,h_350,c_fill,f_auto{{ .Params.imagen }}" alt="{{ .Title }}"> -->
        {{ with .Params.catalogo }}
          <div class="text-center small-text">
            <a href="{{ . }}" download="Catalogo Industria {{$.Title}} - Novatec.pdf">
              <i class="fa fa-file-pdf-o"></i><br> Descargar catálogo de Agrícola
            </a>
          </div>
          {{ end }}
            <div style="width: calc(300% - 26.66667px)!IMPORTANT;">
              {{ .Content }}
            </div>
      </div>

    </div>
  </div>
{{ end }}